body{
  font-family: 'Ek Mukta', Arial, sans-serif;
  color: #333;
}
h1{
  font-size: 3em;
  color: #078781;
}
h2{
  font-size: 2em;
  color: #078781;
}

p,a,li{
  font-size: 1em;
}

a, a:hover{
  color: #71B086;
  text-decoration: none;
}
a:hover{
  color: #418056;
}
